<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <title>
        {% block title %}{% endblock %}
      </title>
      {% block stylesheets %}{% endblock stylesheets %}
    </head>

    <body class="{% block body_class %}{% endblock body_class %} sidebar-collapse">
    {% block content %}{% endblock content %}
    {% include 'includes/scripts.html' %}
    {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
